<!-- Sidebar Navigation-->
<nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h5">Admin</h1>
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <ul class="list-unstyled">
        <li class="active"><a href="@Url.Action("Index","Administrator")"> <i class="icon-writing-whiteboard"></i>Home </a></li>
        <li><a href="@Url.Action("Index","Houses")"> <i class="icon-home"></i>Houses </a></li>
        <li><a href="@Url.Action("Index","People")"> <i class="icon-user"></i>People </a></li>
        <li><a href="@Url.Action("Login","Administrator")"> <i class="icon-logout"></i>Login page </a></li>
    </ul>
</nav>
<!-- Sidebar Navigation end-->
