<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YNHM Administrator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Templates/BootstrapiousAdmin/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Templates/BootstrapiousAdmin/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/Templates/BootstrapiousAdmin/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Templates/BootstrapiousAdmin/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Templates/BootstrapiousAdmin/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Templates/BootstrapiousAdmin/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>

    <header class="header">
        @Html.Partial("~/Areas/Administration/Views/Shared/_AdminNavbar.cshtml")
    </header>



    <div class="d-flex align-items-stretch">
        @Html.Partial("~/Areas/Administration/Views/Shared/_AdminSidebarMenu.cshtml")
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
                <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                <p class="no-margin-bottom">2021 &copy; Your New House Mate. Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin">Bootstrapious</a>.</p>
            </div>
        </div>
    </footer>

    <!-- JavaScript files-->
    <script src="~/Templates/BootstrapiousAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templates/BootstrapiousAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/BootstrapiousAdmin/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Templates/BootstrapiousAdmin/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Templates/BootstrapiousAdmin/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Templates/BootstrapiousAdmin/js/charts-home.js"></script>
    <script src="~/Templates/BootstrapiousAdmin/js/front.js"></script>

    @RenderSection("scripts", required:false)
</body>
</html>
