[*.cs]

# CS2001: Source file 'F:\Applications\Microsoft Visual Studio\Visual Studio Workspace\YourNewHouseMate\YNHM.Database\Models\Photo.cs' could not be found.
dotnet_diagnostic.CS2001.severity = none
