<!--footer -->
<footer class="main-footer dark-footer  ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-widget fl-wrap">
                    <h3>About Us</h3>
                    <div class="footer-contacts-widget fl-wrap">
                        <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam. </p>
                        <ul class="footer-contacts fl-wrap">
                            <li><span><i class="fa fa-envelope-o"></i> Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                            <li> <span><i class="fa fa-map-marker"></i> Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                            <li><span><i class="fa fa-phone"></i> Phone :</span><a href="#">+7(111)123456789</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-widget fl-wrap">
                    <h3>Our Last News</h3>
                    <div class="widget-posts fl-wrap">
                        <ul>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="~/Templates/Citybook/citybook/images/all/1.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Vivamus dapibus rutrum</a>
                                    <span class="widget-posts-date"> 21 Mar 09.05 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="~/Templates/Citybook/citybook/images/all/1.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title=""> In hac habitasse platea</a>
                                    <span class="widget-posts-date"> 7 Mar 18.21 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="~/Templates/Citybook/citybook/images/all/1.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Tortor tempor in porta</a>
                                    <span class="widget-posts-date"> 7 Mar 16.42 </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer fl-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-widget">
                        <img src="~/Templates/Citybook/citybook/images/logo.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="copyright"> &#169; YourNewHouseMate 2021 .  All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end  -->
