
    <!-- loader -->
    <div class="loader-wrap">
        <div class="pin"></div>
        <div class="pulse"></div>
    </div>
    <!--  loader end -->
    <!-- Main   -->
    <div id="main">
        <!-- header  -->
        <header class="main-header dark-header fs-header sticky">
            <div class="header-inner">
                <div class="logo-holder">
                    <a href="~/Templates/Citybook/citybook/index.html"><img src="~/Templates/Citybook/citybook/images/logo.png" alt=""></a>
                </div>
                <div class="header-user-menu">
                    <div class="header-user-name">
                        <span><img src="~/Templates/Citybook/citybook/images/avatar/1.jpg" alt=""></span>
                        Hello , Alisa
                    </div>
                    <ul>
                        <li>
                            <a href="~/Profile/Profile">View Profile</a>
                        </li>
                        <li>
                            <a href="#">Log Out</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-button-wrap color-bg">
                    <div class="nav-button">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="~/HomePage/Index">Home</a>
                            </li>
                            <li>
                                <a href="~/People/People">People</a>
                            </li>
                            <li>
                                <a href="~/Houses/Houses">Houses</a>
                            </li>
                            <li>
                                <a class="act-link" href="~/MyAccount/MyAccount">My Account<i class="fa"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
            </div>
        </header>
        <!--  header end -->
        <!--wrapper-->
        <div id="wrapper">
            content
            <div class="content">
                <!--section-->
                <section>
                    <!--container-->
                    <div class="container">
                        <!--profile-edit-wrap-->
                        <div class="profile-edit-wrap">
                            <div class="profile-edit-page-header">
                                <h2>Edit profile</h2>                              
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="fixed-bar fl-wrap">
                                        <div class="user-profile-menu-wrap fl-wrap">
                                            <!--user-profile-menu-->
                                            <div class="user-profile-menu">
                                                <h3>Main</h3>
                                                <ul>
                                                    <li><a href="~/MyAccount/MyAccount"><i class="fa fa-gears"></i>Dashboard</a></li>
                                                    <li><a class="act-link user-profile-act" href="~/EditProfile/EditProfile"><i class="fa fa-user-o"></i> Edit profile</a></li>
                                                    <li><a href="~/Messages/Messages"><i class="fa fa-envelope-o"></i> Messages <span>3</span></a></li>
                                                    <li><a href="~/Password/Password"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                                                </ul>
                                            </div>
                                            <!--user-profile-menu end-->
                                            <!--user-profile-menu-->
                                            <div class="user-profile-menu">
                                                <h3>Listings</h3>
                                                <ul>
                                                    @*<li><a href="~/Templates/Citybook/citybook/dashboard-listing-table.html"><i class="fa fa-th-list"></i> Saved Houses</a></li>
                                                    <li><a href="~/Templates/Citybook/citybook/dashboard-bookings.html"> <i class="fa fa-calendar-check-o"></i> My matches <span>2</span></a></li>
                                                    <li><a href="~/Templates/Citybook/citybook/dashboard-review.html"><i class="fa fa-comments-o"></i> Reviews </a></li>*@
                                                    <li><a href="~/Templates/Citybook/citybook/dashboard-add-listing.html"><i class="fa fa-plus-square-o"></i> Add My House</a></li>
                                                </ul>
                                            </div>
                                            <!--user-profile-menu end-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <!-- profile-edit-container-->
                                    <div class="profile-edit-container">
                                        <div class="profile-edit-header fl-wrap">
                                            <h4>My Account</h4>
                                        </div>
                                        <div class="custom-form">
                                            <label>Your Name <i class="fa fa-user-o"></i></label>
                                            <input type="text" placeholder="AlisaNoory" value="" />
                                            <label>Email Address<i class="fa fa-envelope-o"></i>  </label>
                                            <input type="text" placeholder="AlisaNoory@domain.com" value="" />
                                            <label>Phone<i class="fa fa-phone"></i>  </label>
                                            <input type="text" placeholder="+7(123)987654" value="" />
                                            <label> Adress <i class="fa fa-map-marker"></i>  </label>
                                            <input type="text" placeholder="USA 27TH Brooklyn NY" value="" />
                                            <label> Notes</label>
                                            <textarea cols="40" rows="3" placeholder="About Me"></textarea>
                                        </div>
                                    </div>
                                    <!--profile-edit-container end-->
                                    <!--profile-edit-container-->
                                    <div class="profile-edit-container add-list-container">
                                        <div class="profile-edit-header fl-wrap">
                                            <h4>Subscription</h4>
                                        </div>
                                        <div class="custom-form">
                                            <div class="row">
                                                <!--col-->
                                                <div class="col-md-4">
                                                    <div class="add-list-media-header">
                                                        <label class="radio inline">
                                                            <input type="radio" name="gender">
                                                            <span>Basic 99$</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--col end-->
                                                <!--col-->
                                                <div class="col-md-4">
                                                    <div class="add-list-media-header">
                                                        <label class="radio inline">
                                                            <input type="radio" name="gender" checked>
                                                            <span>Extended 99$</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--col end-->
                                                <!--col-->
                                                <div class="col-md-4">
                                                    <div class="add-list-media-header">
                                                        <label class="radio inline">
                                                            <input type="radio" name="gender">
                                                            <span>Professional 149$</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--col end-->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- profile-edit-container end-->
                                    <!-- profile-edit-container-->
                                    <div class="profile-edit-container">
                                        <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                            <h4>My Socials</h4>
                                        </div>
                                        <div class="custom-form">
                                            <label>Facebook <i class="fa fa-facebook"></i></label>
                                            <input type="text" placeholder="https://www.facebook.com/" value="" />
                                            <label>Twitter<i class="fa fa-twitter"></i>  </label>
                                            <input type="text" placeholder="https://twitter.com/" value="" />
                                            <label>Instagram<i class="fa fa-instagram"></i>  </label>
                                            <input type="text" placeholder="https://www.instagram.com/" value="" />
                                            <button class="btn  big-btn  color-bg flat-btn">Save Changes<i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                    <!-- profile-edit-container end-->
                                </div>
                                <div class="col-md-2">
                                    <div class="edit-profile-photo fl-wrap">
                                        <img src="images/avatar/1.jpg" class="respimg" alt="">
                                        <div class="change-photo-btn">
                                            <div class="photoUpload">
                                                <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                <input type="file" class="upload">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--profile-edit-wrap end -->
                    </div>
                    <!--container end -->
                </section>
                <!-- section end -->
                <div class="limit-box fl-wrap"></div>
                section
                <section class="gradient-bg">
                    <div class="cirle-bg">
                        <div class="bg" data-bg="images/bg/circle.png"></div>
                    </div>
                    <div class="container">
                        <div class="join-wrap fl-wrap">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Do You Have Questions ?</h3>
                                    <p>Lorem ipsum dolor sit amet, harum dolor nec in, usu molestiae at no.</p>
                                </div>
                                <div class="col-md-4"><a href="contacts.html" class="join-wrap-btn">Get In Touch <i class="fa fa-envelope-o"></i></a></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section end -->
            </div>
        </div>
        <!-- wrapper end -->
        


