@*SLIDER NOT WORKING! SOMETHING TO DO WITH JQUERY*@

<div class="content full-height fs-slider-wrap">
    <!--section -->
    <section class="hero-section no-dadding full-height" id="sec1">
        <div class="slider-container-wrap full-height fs-slider fl-wrap">
            <div class="slider-container">
                <!-- slideshow-item -->
                <div class="slider-item fl-wrap">
                    <div class="bg" data-bg="~/Templates/Citybook/citybook/images/bg/slider/1.jpg"></div>
                    <div class="overlay"></div>
                    <div class="hero-section-wrap fl-wrap">
                        <div class="container">
                            <div class="intro-item fl-wrap">
                                <h2>We will help you to find all</h2>
                                <h3>Find great places , hotels , restourants , shops.</h3>
                            </div>
                            <div class="main-search-input-wrap">
                                <div class="main-search-input fl-wrap">
                                    <div class="main-search-input-item">
                                        <input type="text" placeholder="What are you looking for?" value="" />
                                    </div>
                                    <div class="main-search-input-item location" id="autocomplete-container">
                                        <input type="text" placeholder="Location" id="autocomplete-input" value="" />
                                        <a href="#"><i class="fa fa-dot-circle-o"></i></a>
                                    </div>
                                    <div class="main-search-input-item">
                                        <select data-placeholder="All Categories" class="chosen-select">
                                            <option>All Categories</option>
                                            <option>Shops</option>
                                            <option>Hotels</option>
                                            <option>Restaurants</option>
                                            <option>Fitness</option>
                                            <option>Events</option>
                                        </select>
                                    </div>
                                    <button class="main-search-button" onclick="window.location.href='listing.html'">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  slideshow-item end  -->
                <!-- slideshow-item -->
                <div class="slider-item fl-wrap">
                    <div class="bg bg-ser" data-bg="~/Templates/Citybook/citybook/images/bg/slider/1.jpg"></div>
                    <div class="overlay"></div>
                    <div class="hero-section-wrap fl-wrap">
                        <div class="container">
                            <div class="intro-item fl-wrap">
                                <h2>Discover Our Categories</h2>
                                <h3>Constant care and attention to the patients makes good record.</h3>
                            </div>
                            <span class="section-separator"></span>
                            <div class="box-cat-container">
                                <!--box-cat-->
                                <a href="listing.html" class="box-cat color-bg" data-bgscr="~/Templates/Citybook/citybook/images/bg/slider/1.jpg">
                                    <i class="fa fa-cutlery"></i>
                                    <h4>Restaurants</h4>
                                </a>
                                <!--box-cat end-->
                                <!--box-cat-->
                                <a href="listing.html" class="box-cat color-bg" data-bgscr="~/Templates/Citybook/citybook/images/bg/slider/1.jpg">
                                    <i class="fa fa-bed"></i>
                                    <h4>Hotels</h4>
                                </a>
                                <!--box-cat end-->
                                <!--box-cat-->
                                <a href="listing.html" class="box-cat color-bg" data-bgscr="~/Templates/Citybook/citybook/images/bg/slider/1.jpg">
                                    <i class="fa fa-shopping-bag"></i>
                                    <h4>Shops</h4>
                                </a>
                                <!--box-cat end-->
                                <!--box-cat-->
                                <a href="listing.html" class="box-cat color-bg" data-bgscr="~/Templates/Citybook/citybook/images/bg/slider/1.jpg">
                                    <i class="fa fa-futbol-o"></i>
                                    <h4>Fitness</h4>
                                </a>
                                <!--box-cat end-->
                                <!--box-cat-->
                                <a href="listing.html" class="box-cat color-bg" data-bgscr="~/Templates/Citybook/citybook/images/bg/slider/1.jpg">
                                    <i class="fa fa-users"></i>
                                    <h4>Events</h4>
                                </a>
                                <!--box-cat end-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--  slideshow-item end  -->
            </div>
            <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
            <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
        </div>
    </section>
    <!-- section end -->
</div>
<!-- Content end-->
<!-- wrapper -->
<div id="wrapper" class="no-padding">
    <!-- Content-->
    <div class="content">
        <!--section -->
        <section class="color-bg">
            <div class="shapes-bg-big"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images-collage fl-wrap">
                            <div class="images-collage-title">House<span>Mate</span></div>
                            <div class="images-collage-main images-collage-item"><img src="~/Templates/Citybook/citybook/images/avatar/1.jpg" alt=""></div>
                            <div class="images-collage-other images-collage-item" data-position-left="23" data-position-top="10" data-zindex="2"><img src="images/avatar/1.jpg" alt=""></div>
                            <div class="images-collage-other images-collage-item" data-position-left="62" data-position-top="54" data-zindex="5"><img src="images/avatar/1.jpg" alt=""></div>
                            <div class="images-collage-other images-collage-item anim-col" data-position-left="18" data-position-top="70" data-zindex="11"><img src="images/avatar/1.jpg" alt=""></div>
                            <div class="images-collage-other images-collage-item" data-position-left="37" data-position-top="90" data-zindex="1"><img src="images/avatar/1.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="color-bg-text">
                            <h3>Join our online community</h3>
                            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                            <a href="#" class="color-bg-link modal-open">Sign In Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--section   end -->
    </div>
    <!-- Content end -->
</div>
<!-- wrapper end -->






<!--register form -->
<div class="main-register-wrap modal">
    <div class="main-overlay"></div>
    <div class="main-register-holder">
        <div class="main-register fl-wrap">
            <div class="close-reg"><i class="fa fa-times"></i></div>
            <h3>Sign In <span>City<strong>Book</strong></span></h3>
            <div class="soc-log fl-wrap">
                <p>For faster login or register use your social account.</p>
                <a href="#" class="facebook-log"><i class="fa fa-facebook-official"></i>Log in with Facebook</a>
                <a href="#" class="twitter-log"><i class="fa fa-twitter"></i> Log in with Twitter</a>
            </div>
            <div class="log-separator fl-wrap"><span>or</span></div>
            <div id="tabs-container">
                <ul class="tabs-menu">
                    <li class="current"><a href="#tab-1">Login</a></li>
                    <li><a href="#tab-2">Register</a></li>
                </ul>
                <div class="tab">
                    <div id="tab-1" class="tab-content">
                        <div class="custom-form">
                            <form method="post" name="registerform">
                                <label>Username or Email Address * </label>
                                <input name="email" type="text" onClick="this.select()" value="">
                                <label>Password * </label>
                                <input name="password" type="password" onClick="this.select()" value="">
                                <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                <div class="clearfix"></div>
                                <div class="filter-tags">
                                    <input id="check-a" type="checkbox" name="check">
                                    <label for="check-a">Remember me</label>
                                </div>
                            </form>
                            <div class="lost_password">
                                <a href="#">Lost Your Password?</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div id="tab-2" class="tab-content">
                            <div class="custom-form">
                                <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                    <label>First Name * </label>
                                    <input name="name" type="text" onClick="this.select()" value="">
                                    <label>Second Name *</label>
                                    <input name="name2" type="text" onClick="this.select()" value="">
                                    <label>Email Address *</label>
                                    <input name="email" type="text" onClick="this.select()" value="">
                                    <label>Password *</label>
                                    <input name="password" type="password" onClick="this.select()" value="">
                                    <button type="submit" class="log-submit-btn"><span>Register</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--register form end -->

<div>
    <a class="to-top"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Main end -->