
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Update/_LayoutL.cshtml";
}

<!-- ====================================
———	How It Works
===================================== -->
<section class="py-7 py-md-10">
    <div class="container">
        <div class="row pb-6 pb-md-9">
            <div class="col-sm-4 col-xs-12 order-md-1">
                <div class="text-center text-md-right my-5 my-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-1.png" src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-1.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div>
                    <span class="mb-2 d-inline-block">Introduction</span>
                    <h2 class="h4 mb-4">To continue, take the test!</h2>
                    <p>Our website includes an extensive testing and matching mechanism to assure that you are paired with the most compatible people.</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row py-5 py-md-9">
            <div class="col-sm-4 col-xs-12">
                <div class="text-center text-md-left mb-5 mb-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-2.png" src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-2.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="text-left text-md-right">
                    <span class="mb-2 d-inline-block">Part 1</span>
                    <h2 class="h4 mb-4">Cleanliness</h2>
                    <p>You will find questions that concern the cleanliness of your new house and how you rotate the chores.</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row pt-5 pt-md-9">
            <div class="col-sm-4 col-xs-12 order-md-1">
                <div class="text-center text-md-right mb-5 mb-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-3.png" src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-3.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div>
                    <span class="mb-2 d-inline-block">Part 2</span>
                    <h2 class="h4 mb-4">Noise</h2>
                    <p>This second part concerns your preferences about noise and music in the house.</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row py-5 py-md-9">
            <div class="col-sm-4 col-xs-12">
                <div class="text-center text-md-left mb-5 mb-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-2.png" src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-2.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="text-left text-md-right">
                    <span class="mb-2 d-inline-block">Part 3</span>
                    <h2 class="h4 mb-4">Cooking and Groceries</h2>
                    <p>Do you have a specific diet? Do you have any particular habits concerning dining?</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row pt-5 pt-md-9">
            <div class="col-sm-4 col-xs-12 order-md-1">
                <div class="text-center text-md-right mb-5 mb-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-3.png" src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-3.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div>
                    <span class="mb-2 d-inline-block">Part 4</span>
                    <h2 class="h4 mb-4">Animals</h2>
                    <p>If you prefer to live with humans only, declare so here. But, seriously, don't be a dick. Animals are cooler than humans.</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row py-5 py-md-9">
            <div class="col-sm-4 col-xs-12">
                <div class="text-center text-md-left mb-5 mb-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-2.png" src="~/Templates/Listty/StaticHTML/assets/img/works/works-big-2.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="text-left text-md-right">
                    <span class="mb-2 d-inline-block">Part 5</span>
                    <h2 class="h4 mb-4">Smoking</h2>
                    <p>How do you feel about smoking in the house?</p>
                </div>
            </div>
        </div>

        <div class="py-7 py-md-0 bg-light">
            <div class="container position-relative px-md-0 d-flex justify-content-center">
                <button class="btn btn-primary">Click here to continue!</button>
            </div>
        </div>

    </div>
</section>

