@{
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}


<section class="bg-light py-7 py-md-10">
    <div class="container">
        <h3>Team DeathMatch for 2</h3>
        <div class="bg-white rounded shadow mb-8">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <img class="rounded rounded-md-left" data-src="~/Templates/Listty/StaticHTML/assets/img/developers/vassilis-linkedin-w350.jpg" src="~/Templates/Listty/StaticHTML/assets/img/developers/vassilis-linkedin-w350.jpg" alt="vassilis kotsmanidis profile photo jpg" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="p-6">
                        <h3 class="font-weight-normal mb-0">Vassilis Kotsmanidis</h3>
                        <span class="d-inline-block mb-5" style="font-size: 1rem; font-weight: 600"><i class="fa fa-code" aria-hidden="false"></i> Full Stack Web Developer </span>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-2">
                                <i class="fa fa-phone-alt" aria-hidden="true"></i> +30 6945861652
                            </li>
                            <li class="mb-2">
                                <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:vassilis.kotsman@gmail.com"> vassilis.kotsman@gmail.com</a>
                            </li>
                            <li class="mb-2">
                                <i class="fab fa-linkedin-in" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/vassilis-kotsmanidis/"> LinkedIn</a>
                            </li>
                            <li class="mb-2">
                                <i class="fab fa-github" aria-hidden="true"></i> <a href="https://github.com/KotsmanV"> Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="bg-white rounded shadow mb-8">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <img class="rounded rounded-md-left" data-src="~/Templates/Listty/StaticHTML/assets/img/developers/dimitra-linkedin-w350.jpg" src="~/Templates/Listty/StaticHTML/assets/img/developers/dimitra-linkedin-w350.jpg" alt="dimitra kamni profile photo jpg" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="p-6">
                        <h3 class="font-weight-normal mb-0">Dimitra Kamni</h3>
                        <span class="d-inline-block mb-5" style="font-size: 1rem; font-weight: 600"><i class="fa fa-code" aria-hidden="false"></i> Full Stack Web Developer </span>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-2">
                                <i class="fa fa-phone-alt" aria-hidden="true"></i> +306978054547
                            </li>
                            <li class="mb-2">
                                <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:dimitra.kamni@gmail.com"> dimitra.kamni@gmail.com</a>
                            </li>
                            <li class="mb-2">
                                <i class="fab fa-linkedin-in" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/dimitra-k/"> LinkedIn</a>
                            </li>
                            <li class="mb-2">
                                <i class="fab fa-github" aria-hidden="true"></i> <a href="https://github.com/DimitraK92"> Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

