
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}

<section class="py-7 py-md-10">
    <div class="container">
        <div class="row pb-6 pb-md-9">
            <div class="col-sm-4 col-xs-12 order-md-1">
                <div class="text-center text-md-right my-5 my-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/Register.png" src="~/Templates/Listty/StaticHTML/assets/img/works/Register.png" alt="Register">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div>
                    <span class="mb-2 d-inline-block">Step 1</span>
                    <h2 class="h4 mb-4">Register</h2>
                    <p>For privacy reasons, the full functionality of the website is not accessible to people that are not registered. So, the first step for you is to fill up the forms and join us!</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row py-5 py-md-9">
            <div class="col-sm-4 col-xs-12">
                <div class="text-center text-md-left mb-5 mb-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/TakeTest.png" src="~/Templates/Listty/StaticHTML/assets/img/works/TakeTest.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="text-left text-md-right">
                    <span class="mb-2 d-inline-block">Step 2</span>
                    <h2 class="h4 mb-4">Take the test</h2>
                    <p>This test will be used to match you with other users of the website. You can find out more before you take it, but the basic idea is to declare your preferences for a cohabitation.</p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="row pt-5 pt-md-9">
            <div class="col-sm-4 col-xs-12 order-md-1">
                <div class="text-center text-md-right mb-5 mb-md-0">
                    <img class="" data-src="~/Templates/Listty/StaticHTML/assets/img/works/FindPerson.png" src="~/Templates/Listty/StaticHTML/assets/img/works/FindPerson.png" alt="Image Works">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div>
                    <span class="mb-2 d-inline-block">Step 3</span>
                    <h2 class="h4 mb-4">Explore the results</h2>
                    <p>See your matches with other people, ranked by percentage. If you feel like it, you can see their profiles and decide if they are the right person for you to live with!</p>
                </div>
            </div>
        </div>
    </div>
</section>
