@using YNHM.Entities.Models
@model YNHM.WebApp.Models.PercentageVM


@{
    //Layout = "~/Views/Shared/Update/_LayoutL.cshtml";
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}

@functions{
    public int GetPercentage(Roomie current, Roomie compare)
    {
        int percentage = 0;

        bool[] currentAnswer = { current.IsSmoking, current.IsVegan, current.IsNoisy, current.LikesCleaning, current.IsCatPerson };
        bool[] compared = { compare.IsSmoking, compare.IsVegan, compare.IsNoisy, compare.LikesCleaning, compare.IsCatPerson };

        for (int i = 0; i < currentAnswer.Length; i++)
        {
            if (currentAnswer[i]==compared[i])
            {
                percentage += 20;
            }
        }
        return percentage;
    }
}




<!-- ====================================
———	CATEGORY GRID RIGHT SIDEBAR
===================================== -->
<section class="py-7 py-md-10">
    <div class="container">

        <div class="row">

            @foreach (var roomie in Model.Roomies)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card rounded-0 card-hover-overlay">
                        <div class="position-relative">
                            <img class="card-img rounded-0" data-src="~/Models/FakeImages/person5.jpg" src="~/Models/FakeImages/person5.jpg" alt="Card image cap">
                            <div class="card-img-overlay">
                                <h3>
                                    <a href="@Url.Action($"PersonalProfile/{roomie.Id}")">
                                        @roomie.FirstName <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>

                        <div class="card-footer bg-transparent">
                            <ul class="list-unstyled d-flex mb-0 py-2">
                                <li>
                                    <h4>@GetPercentage(Model.CurrentUser, roomie) <i class="fa fa-percent" aria-hidden="false"></i> match</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }


            </div>
        <!-- ====================================
        ———	pagination
        ===================================== -->
        <section class="my-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item mr-2">
                        <a class="page-link" href="javascript:void(0)">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="page-item active mr-2"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>

    </div>
</section>

